*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/libs/*
Pinnacle_Android_SDK_v1-5-2.arr
/app/libs/Pinnacle_Android_SDK_v1-5-2.aar
/app/src/main/res/values/strings.xml
android/app/src/main/AndroidManifest.xml
android/app/src/main/res/values/google_maps_api.xml
google_maps_api.xml